/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url(translation.jpg) no-repeat center center;
  background-size: cover;
}
.container {
  max-width: 690px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
}
.wrapper .text-input {
  display: flex;
  flex-direction: column;
}
.text-input textarea {
  height: 150px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.text-input textarea::placeholder {
  color: #b7b6b6;
}
.container button {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #00bc69;
}
.container button:hover {
  background: #008e50;
}

@media (max-width: 660px) {
  .container {
    padding: 20px;
  }
  .text-input textarea {
    height: 200px;
  }
  .container button {
    padding: 13px;
    font-size: 16px;
  }
}
